<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplitFriend"
        tools:targetApi="31" >
        <activity
            android:name=".user.SettingsProfileActivity"
            android:exported="false" />
        <activity
            android:name=".user.SettingsMenuActivity"
            android:exported="false" />
        <activity
            android:name=".user.ActivityUserAmountActivity"
            android:exported="false" />
        <activity
            android:name=".user.ActivityTotalAmountActivity"
            android:exported="false" />
        <activity
            android:name=".user.ActivityDetailPayeeActivity"
            android:exported="false" />
        <activity
            android:name=".user.ActivityDetailSenderActivity"
            android:exported="false" />
        <activity
            android:name=".user.FindGroupActivity"
            android:exported="false" />
        <activity
            android:name=".user.GroupSettingActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.GroupDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.activity.CreateActivityActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.group.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".user.group.CreateGroupActivity"
            android:exported="false" />
    </application>

</manifest>